body{
    
    background-image: linear-gradient(#005757, #bbff0080);
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body h1{
    color: #00b6b6;
    margin-left: 40px;
    text-shadow: 2px 2px #00000069;
}

ul {
    list-style-type: none;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 700 */

.list {
  color: white;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.item{
    background-color: #000000b0;
    backdrop-filter: blur(4px);
    padding: 15px;
    margin-right: 60px;
    border-radius: 10px;
}

input[type="checkbox"] {
    accent-color: #005757;
    background-color: #bbff0080;
}

input[type="text"]{
    background-color: #000000b0;
    border: none;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
}

button{
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    background-color: black;
    border: none;
    margin-left: 10px;
    border-radius: 20px;
}

.list-done {
    color: gray;
}

.list-left {
    color: white;
}